body{
   font-family: 'Oswald', sans-serif;
   background: #fff;
   margin: 0;
}
*{
   padding: 0;
}
.container{
width: 100%;
height: 2700px;
max-width: 1920px;
margin: 0 auto;
}

.header{
   width: 100%;
   height: 0px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100000;
   background: #332222;
}


.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 15px;

}

.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 800px;
   padding-top: 100px;
   background: url("../img/david-svihovec-5X2ViX_r0ZA-unsplash.jpg");
   background-size: cover;
}

.intro__inner{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-left: 440px;
  
}
.intro__tittle{
   font-size: 43px;
   font-weight: 400;
   color: #fff;
   margin-top: 200px;

}

.intro__inner p {
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   line-height: 35px;
}

.click{
   position: absolute;
width: 130px;
height: 41px;
left: 441px;
border: 1px solid #FFFFFF;
border-radius: 5px;
background: #5e2b72;
cursor: pointer;
}


.click a{
 font-weight: 500;
font-size: 14px;
line-height: 37px;
text-align: center;
letter-spacing: 0.1em;
margin-left: 32px;

color: #FFFFFF;
text-decoration: none;
}

.containers{
display: flex;
}

.containers img{
   position: absolute;
width: 80px;
height: 13px;
left: 260px;
top: 912px;
}

.fictures {
  display: flex;
   padding: 100px 0;
   padding-left: 380px;
}

.fictures h2{
   color: #000;
   font-size: 22px;
   font-weight: normal;
}

// pic1
.pic1 img{
   position: absolute;
width: 35px;
height: 35px;
left: 910px;
top: 891px;
}

// pic2
.pic2{
   padding-right: 260px;
}
.pic2 img{
   position: absolute;
   width: 35px;
   height: 35px;
   left: 944px;
   top: 891px;
}

// foto

.foto img {
   position: absolute;
width: 340px;
height: 250px;
left: 260px;
top: 980px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), #C4C4C4;
}

// foto2

.foto2 img{
   position: absolute;
width: 340px;
height: 250px;
left: 641px;
top: 980px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), #C4C4C4;
}


.bcr{
   position: absolute;
   width: 180px;
   height: 80px;
   left: 395px;
   top: 1126px;
   background: #fff;
}

.cck{
   margin: 0px 20px;
   margin-top: 3px;
   font-size: 18px;
   font-weight: 400;
}

.bcr p{
   font-size: 14px;
   font-weight: 300;
   margin: 0 20px;
   margin-bottom: 10px;
}

.bcr__1{
   position: absolute;
   width: 180px;
   height: 80px;
   left: 775px;
   top: 1126px;
   background: #fff;
}

.cck__1{
   margin: 0px 20px;
   margin-top: 3px;
   font-size: 18px;
   font-weight: 400;
}

.bcr__1 p{
   font-size: 14px;
   font-weight: 300;
   margin: 0 20px;
   margin-bottom: 10px;
}

.sec__2 img{
   position: absolute;
   width: 80px;
   height: 13px;
   left: 260px;
   top: 1367px;
}

.sec__items{
   display: flex;
   padding: 322px 0;
   padding-left: 380px;
   text-transform: uppercase;
}

.sec__items h2{
   color: #000;
   font-size: 22px;
   font-weight: 400;
}

.sec__items h3{
   font-size: 18px;
   font-weight: 400;
   margin: 80px 10px;
   line-height: 25px;
   letter-spacing: 1.6px;
  
   border-bottom: 1.5px dashed #005BC1;
}


.foto3 img{
   position: absolute;
    width: 225px;
    height: 175px;
    left: 260px;
    top: 1506px;
}

.foto4 img{
   position: absolute;
   width: 225px;
   height: 175px;
   left: 505px;
   top: 1506px;
}

.foto5 img{
   position: absolute;
    width: 225px;
    height: 175px;
    left: 753px;
    top: 1506px;
}

.bcr1{
   position: absolute;
   width: 176px;
   height: 71px;
   left: 307px;
   top: 1598px;
   background: #005BC1;
}

.bcr2{
   position: absolute;
   width: 176px;
   height: 71px;
   left: 552px;
   top: 1598px;
   background: #005BC1;
}

.bcr3{
   position: absolute;
   width: 176px;
   height: 71px;
   left: 800px;
   top: 1598px;
   background: #005BC1;
}

.bcr1 h4{
   margin: 5px 15px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}

.bcr2 h4{
   margin: 22px 15px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}

.bcr3 h4{
   margin: 22px 15px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}

.line img{
position: absolute;
width: 80px;
height: 13px;
left: 260px;
top: 1820px;
}


.text1{
   color: #000;
   font-size: 22px;
   font-weight: normal;
}